APP_NAME="SAMA Envios"
APP_ENV=production
APP_KEY=base64:odHTDzo1Si55SQirAoKezkZqKzH0t8vk3w0iZaKjXlw=
APP_DEBUG=true
APP_URL=https://samabranding.duckdns.org
FORCE_HTTPS=true

LOG_CHANNEL=stack
LOG_LEVEL=debug

# --- CONEXÃO COM O BANCO DO LARAVEL ---
# O host deve ser o nome do serviço no docker-compose
DB_CONNECTION=mysql
DB_HOST=157.173.100.233
DB_PORT=3306
DB_DATABASE=whatsapp_sender
DB_USERNAME=marcel
DB_PASSWORD=password_mysql_123

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=memcached

# --- REDIS (Se for usar, o host é o nome do serviço) ---
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="contato@amabranding.com.br"
MAIL_FROM_NAME="${APP_NAME}"

# --- CONFIGURAÇÕES DO MINIO (DOCKER) ---
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=sua_senha_forte_123
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=ads
# Endpoint interno para o Laravel alcançar o Minio na rede do Docker
AWS_ENDPOINT=http://minio:9000
# URL pública para acesso via navegador
AWS_URL=https://samabranding.duckdns.org:9000/ads
AWS_USE_PATH_STYLE_ENDPOINT=true

# --- CONFIGURAÇÕES DA EVOLUTION API ---
WHATSAPP_PROTOCOL=http
WHATSAPP_URL=evolution-api
WHATSAPP_PORT=8081
WHATSAPP_APIKEY=BQYHJGJHJ
WHATSAPP_CONTACT_TEST=5595981110695
WHATSAPP_MESSAGE_UP=21
MIX_WHATSAPP_PUBLIC_URL=samabranding.duckdns.org
MIX_WHATSAPP_PUBLIC_PORT=8080
MIX_WHATSAPP_PUBLIC_PROTOCOL=https

DEBUG_WEBHOOK_STATUS=false